<h1>Create your account. Fill up the forms</h1>

<% if flash[:notice] %>
        <%= flash[:notice] %>
<% end %>
<% if flash[:alert] %>
        <%= flash[:alert] %>
<% end %>

<% [:email, :password, :password_confirmation].each do |attr| %>
  <% @account.errors[attr].each do |message| %>
    <div>"<%= message %>"</div>
  <% end %>
<% end %>


<%= form_with model: @account, url: accounts_path, local: true, data: { turbo: false} do |forms| %>

    <%= forms.label :email, "Email account" %>
    <%= forms.text_field :email, required: true %>

    <%= forms.label :password, "Password" %>
    <%= forms.text_field :password, required: true %>

    <%= forms.label :password_confirmation, "Confirm password" %>
    <%= forms.password_field :password_confirmation, required: true %>

    <%= forms.submit "Create accoumt" %>
<% end %>

<%= link_to "Back", root_path, class: "btn btn-primary" %>

 <h3>Session Debug Info (remove before production!)</h3>
  <ul>
    <li><strong>reset_password_id:</strong> <%= session[:reset_password_id].inspect %></li>
    <li><strong>reset_password_code:</strong> <%= session[:reset_password_code].inspect %></li>
    <li><strong>reset_password_code_expires_at:</strong> <%= session[:reset_password_code_expires_at].inspect %></li>
  </ul>